{{ $pages := .Pages }}
{{ if .IsHome }}
  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}
<div class="heading wrap content">
  <h1 class="heading-content">Browse Jobs</h1>
</div>
<div class="grid-inverse wrap content">
  {{- partial "sidebar" . }}
  <div>
    <ul class="posts" id="posts">
      {{- range (.Paginate $pages).Pages }}
        {{ partial "excerpt" . }}
      {{- end }}
      <li>
        {{- template "_internal/pagination.html" . }}
      </li>
    </ul>
    <div id="no-results" class="hidden">
      No results.
    </div>
  </div>
</div>
