<li class="post_item">
  <div class="excerpt" id='{{ replaceRE "(\\s)" "" .Title }}-{{ replaceRE "(\\s)" "" .Params.organization }}' data-type='{{ .Params.a_job_type }}' data-feedback='{{ .Params.c_feedback }}' data-degrees='{{ .Params.aa_degrees_required }}' data-benefits='{{ .Params.b_benefits }}'>
    <div class="excerpt_footer partition">
      <div class="excerpt_thumbnail">
        {{- with .Params.thumbnail }}
        <img src='{{ if (hasPrefix . "http") }}{{ . }}{{ else }}{{ absURL . }}{{ end }}' alt="" aria-hidden="true">
        {{ else }}
        <div class="excerpt_thumbnail_placeholder"></div>
        {{- end }}
      </div>
      <div class="excerpt_footer">
        <div class="">
          <h3 class="post_link">
            {{ .Title  }}
          </h3>
          {{ partial "post-meta.html" . }}
        </div>
        <div>
          <p class="pale">{{ .Summary }}</p>
          <a href="{{ .Params.link }}" class="excerpt_more">
            <span>View job listing</span>
            <svg class="excerpt_more_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M285 273L91 467c-9 10-24 10-34 0l-22-22c-10-10-10-25-1-34l155-155L34 101c-9-9-9-24 1-34l22-22c10-10 25-10 34 0l194 194c10 9 10 25 0 34z"/></svg>
          </a>
        </div>
      </div>
    </div>
  </li>
