<footer class="footer">
  <div class="footer_inner wrap pale">

    <div class="footer_links">
      <div class="footer_flex">
        <div class="footer_flex_item">
          {{- partial "follow-footer" . }}
          <h3 class="footer_header footer_text">About</h3>
          <div class="footer_text">
            ReproJobs believes in the radical possibility that organizations within the reproductive health, rights, and justice movements can lead the progressive movement by providing healthy, supportive, and empowering workplace environments that include inclusive cultures, generous policies, and thriving wages.
          </div>
        </div>
        <div class="footer_flex_item">
          <h3 class="footer_header footer_text">Info</h3>
          <ul class="footer_text footer_text_light footer_list">
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://www.reprojobs.org/about">About ReproJobs</a>
            </li>
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://www.reprojobs.org/contact-us">Contact Us</a>
            </li>
          </ul>
          <h3 class="footer_header footer_text">Resources</h3>
          <ul class="footer_text footer_text_light footer_list">
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="/">Find a Job</a>
              <!-- FIXME link -->
            </li>
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://airtable.com/shrytYA2Y47fCHm6E">Post a Job</a>
              <!-- FIXME link -->
            </li>
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://www.reprojobs.org/resources#working-in-repro-section">Working in Repro</a>
            </li>
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://www.reprojobs.org/resources#organize-your-workplace-section">Organize Your Workplace</a>
            </li>
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://www.reprojobs.org/resources#prioritize-you-section">Prioritize You</a>
            </li>
          </ul>
          <h3 class="footer_header footer_text">Blog</h3>
          <ul class="footer_text footer_text_light footer_list">
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://www.reprojobs.org/askrj">Ask ReproJobs</a>
            </li>
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://www.reprojobs.org/union">Ask a Union Organizer</a>
            </li>
            <li class="footer_list_item">
              <a class="footer_list_item_link" href="https://www.reprojobs.org/lovenote">Love Notes</a>
            </li>
          </ul>
        </div>
        <div class="footer_flex_item">
          <h3 class="footer_header footer_text">Subscribe for Jobs and Workplace Resources</h3>

        </div>
      </div>
      <div class="footer_text footer_text_copyright">
        Copyright ReproJobs 2020. All rights Reserved. Privacy Policy. Web design by <a class="footer_list_item_link" href="http://designchoice.studio/">Design Choice</a> and development by <a class="footer_list_item_link" href="https://throneless.tech/">Throneless Tech</a>.
      </div>
    </div>
    {{- partial "top" .}}
  </div>
</footer>
