{{- $params := .Site.Params }}
{{- $centerLogo := $params.centerLogo }}
{{ $logo := $params.logo }}
<header class="nav_header" >
  <nav class="nav">
    <a href='https://www.reprojobs.org/' class="nav_brand nav_brand_mobile nav_item{{ if eq $centerLogo true }} nav_hide{{ end }}">
      {{- with $logo }}
      <img src="{{ absURL . }}" class="logo">
      {{- else }}
        {{ .Site.Title }}
      {{- end }}
      <div class="nav_close">
        <div>
          <svg class="icon">
            <use xlink:href="#open-menu"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="#closeme"></use>
          </svg>
        </div>
      </div>
    </a>
    <div class="nav_body nav_body_mobile nav_body_{{ .Site.Params.mobileNavigation }}">
      {{ $context := . }}
      {{ $menuData := .Site.Data.menu }}
      {{ with $menuData }}
        {{ partial "nav" (dict "context" $context "menu" $menuData) }}
      {{- else }}
        {{ partial "nav" (dict "context" . "menu" .Site.Menus.main) }}
      {{- end }}
    </div>
    <div class='nav_body __top nav_body_{{ .Site.Params.mobileNavigation }}'>

      {{- partial "follow" . }}

      {{ if .Site.IsMultiLingual }}
      <div class="nav_parent">
        <div class="nav_menu">
          {{ $context := . }}
          {{ $submenuData := .Site.Data.menu }}
          {{ with $submenuData }}
            {{ partial "nav" (dict "context" $context "menu" $submenuData) }}
          {{- else }}
            {{ partial "nav" (dict "context" . "menu" .Site.Menus.sub) }}
          {{- end }}
        </div>
        <div class="search-site">
          <a href="https://www.reprojobs.org/search?q=">
            <span class="vh">Search</span>
            <svg height="14" width="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="m13.81 12.1-3.35-3.35a5.68 5.68 0 1 0 -4.77 2.62 5.61 5.61 0 0 0 3.06-.91l3.35 3.35a.67.67 0 0 0 .93 0l.78-.78a.67.67 0 0 0 0-.93zm-11.62-6.41a3.5 3.5 0 1 1 3.5 3.5 3.49 3.49 0 0 1 -3.5-3.5z" fill="#d2dfe0"/></svg>
          </a>
        </div>
        <!-- <a href="#" class="nav_item">{{ .Site.Params.languageMenuName }}</a>
        <div class="nav_sub">
          <span class="nav_child"></span>
          {{ range .Site.Home.AllTranslations }}
          <a href="{{ .Permalink }}" class="nav_child nav_item">{{ .Language.LanguageName }}</a>
          {{ end }}
        </div> -->
      </div>
      {{ end }}

      {{- if eq $centerLogo true }}
      <a href='https://www.reprojobs.org/' class="nav_brand nav_center nav_item">
        <img src="{{ absURL $logo }}" class="logo">
      </a>
      {{- end }}
    </div>

    <div class="nav_body __bottom nav_body_{{ .Site.Params.mobileNavigation }}">
      <a href='https://www.reprojobs.org/' class="nav_brand nav_item nav_hide">
        {{- with $logo }}
        <img src="{{ absURL . }}" class="logo">
        {{- else }}
          {{ .Site.Title }}
        {{- end }}
        <div class="nav_close">
          <div class="">
            <svg class="icon">
              <use xlink:href="#open-menu"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="#closeme"></use>
            </svg>
          </div>
        </div>
      </a>

      <div class="nav_menu">
        {{ $context := . }}
        {{ $menuData := .Site.Data.menu }}
        {{ with $menuData }}
          {{ partial "nav" (dict "context" $context "menu" $menuData) }}
        {{- else }}
          {{ partial "nav" (dict "context" . "menu" .Site.Menus.main) }}
          <div class="nav_menu_sub">
            {{ partial "nav" (dict "context" . "menu" .Site.Menus.sub) }}
          </div>
        {{- end }}
      </div>
    </div>
  </nav>
</header>
