<div class="meta">
  <div class="organization">
    <span class="f-bold">
      {{ .Params.organization }}
    </span> | {{ .Params.location }}
  </div>
  <div class="date">
    <span>{{ .Params.created_at }}</span>
    {{ if not (eq .Params.closing_date "-") }}
      <span> | Closes {{ .Params.closing_date }}</span>
    {{ end }}
    <br>
    <span class="salary">{{ .Params.salary }}</span>

    {{- with .Params.a_job_type -}}
    {{- range . }}
    {{- $tag := . | urlize }}
    <span class="post_tag button button_translucent">
      {{- . }}
    </span>
    {{- end }}
    {{- end }}

    {{- with .Params.b_benefits -}}
    {{- range . }}
    {{- $tag := . | urlize }}
    <span class="post_tag button button_translucent">
      {{- . }}
    </span>
    {{- end }}
    {{- end }}

    {{ if eq .Params.c_feedback "High Five"}}
      <br>
      <span class="post_tag button button_translucent button_high_five">High Five</span>
    {{ end }}
    {{ if eq .Params.c_feedback "Red Flag"}}
      <br>
      <span class="post_tag button button_translucent button_red_flag">Red Flag</span>
    {{ end }}
  </div>
</div>
